<h3>Home</h3>
<div class="row">
					<div class="col-lg-12">
							<h2>Mission</h2>
							<p>To empower the citizens of the world to embrace their technological future.</p>
							<h2>What we do</h2>
							<p>The Coder Factory is a new type of organisation, one that provides technology education, employment opportunities and supports your startup ambitions.</p>
									<h3>
										<span class="icon-stack">
										  <i class="icon-sign-blank icon-stack-base"></i>
										  <i class="icon-code icon-light"></i>
										</span>
										Technology education
									</h3>
									<ul class="icons-ul">
										<li><i class="icon-li icon-chevron-sign-right"></i>Flexible learning</li>
										<li><i class="icon-li icon-chevron-sign-right"></i>Real world projects</li>
										<li><i class="icon-li icon-chevron-sign-right"></i>Make connections</li>
										<li><i class="icon-li icon-chevron-sign-right"></i>Wide range of technologies</li>
									</ul>
									<h3><h3>
										<span class="icon-stack">
										  <i class="icon-sign-blank icon-stack-base"></i>
										  <i class="icon-truck icon-light"></i>
										</span>
										Web application development
									</h3>
									<ul class="icons-ul">
										<li><i class="icon-li icon-chevron-sign-right"></i>Provide development services for small business, non-profits and startups</li>
										<li><i class="icon-li icon-chevron-sign-right"></i>Opportunities for course graduates to increase their skills and experience and get paid</li>
									</ul>
									<h3><h3>
										<span class="icon-stack">
										  <i class="icon-sign-blank icon-stack-base"></i>
										  <i class="icon-puzzle-piece icon-light"></i>
										</span>
										Tech startup support
									</h3>
									<ul class="icons-ul">
										<li><i class="icon-li icon-chevron-sign-right"></i>Supporting the startup community by providing development work</li>
										<li><i class="icon-li icon-chevron-sign-right"></i>Helping course graduates with connections and advice to create their own startup</li>
									</ul>
									<br>
								<h2>Tech Director, Chief Instructor</h2>
								
								
								<h3>Pete Argent</h3>
								<p>After nine years as an IBM software consultant, Pete decided to give up the big company safety net for a life of entrepreneurial risk and excitement.</p>
								<p>Pete's three main passions in life are entrepreneurship, coding and teaching - so running The Coder Factory is his dream job!</p>
								
								<div class="row">
								  <div class="span6">
								  <p><i class="icon-envelope"></i> <a href="mailto:pete@thecoderfactory.com">pete@thecoderfactory.com</a> 
								  <i class="icon-twitter"></i> <a href="https://twitter.com/pedrogrande">@pedrogrande</a>
								</p>
								</div></div>
					</div>

				</div>