<h2>
<div class="share">
    <div class="share-icons">
      <span class="icon-stack fb">
        <a href="https://www.facebook.com/thecoderfactory" target="_blank">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-facebook icon-light"></i>
        </a>
      </span>
       <span class="icon-stack tw">
        <a href="https://twitter.com/coderfactory" target="_blank">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-twitter icon-light"></i>
        </a>
      </span>
      <span class="icon-stack gp">
        <a href="https://plus.google.com/100818528139080406377" rel="publisher" target="_blank">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-google-plus icon-light"></i>
        </a>
      </span>
      <span class="icon-stack li">
        <a href="http://www.linkedin.com/company/3290162?trk=tyah" target="_blank">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-linkedin icon-light"></i>
        </a>
      </span>
    </div>
</div>
</h2>